[submodule "vendor/BuzzWiseMachineLearning"]
	path = vendor/BuzzWiseMachineLearning
	url = https://github.com/BuzzWiseTeam/BuzzWiseMachineLearning
[submodule "vendor/BuzzWiseWebsite"]
	path = vendor/BuzzWiseWebsite
	url = https://github.com/BuzzWiseTeam/BuzzWiseWebsite
